body{
	color: var(--text);
    background-color: var(--light);
}

nav{
	background-color: var(--light);
}

nav a{
	color: var(--text);
}

.main{
	padding-top: 50px;
	width: 80%;
	max-width: 900px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}

.main p{
	text-align: justify;
}

#members{
	display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.member{
	display: flex;
    flex-direction: column;
	align-items: center;
	margin: 5px 25px;
}

.member img{
	border-radius: 50%;
	height: 90px;
	width: 90px;
}

.member p{

}

#sub-content{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

#sub-content div{
	width: 100%;
	height: 500px;
	flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
}

#sub-content #left{

}

a{
	text-decoration: none;
}

.external-link{
	margin-top: 15px;
}

.contact-content{
	color: var(--light);
}

.contact-content-wrapper > .contact-left{
	padding-left: 5%;
    padding-right: 5%; 
}

.contact-content-wrapper{
	margin-bottom: 20px;
}

.contact-footer{
	color: var(--light);
}